##### Class 設計

In [ ]:
import pymysql
import pymysql.cursors

class SqlQuery:
    def __init__(self, database=None):
        self.connection = pymysql.connect(
            host="localhost",
            user="root",
            password="P@ssw0rd",
            port=3306,
            database=database,
            cursorclass=pymysql.cursors.DictCursor
        )

    def show_db(self):
        with self.connection.cursor() as cursor:
            sql = "SHOW DATABASES;"
            cursor.execute(sql)
            result = cursor.fetchall()
        
        return result
    
    def show_table(self):
        with self.connection.cursor() as cursor:
            sql = "SHOW TABLES;"
            cursor.execute(sql)
            result = cursor.fetchall()
        
        return result
    
    def query(self, sql):
        with self.connection.cursor() as cursor:
            cursor.execute(sql)
            result = cursor.fetchall()
        
        return result


q1 = SqlQuery()
db = q1.show_db()
# print(db)

my_train_titanic_q = SqlQuery("my_train_titanic")
tables = my_train_titanic_q.show_table()
# print(tables)
print(my_train_titanic_q.query("""
    SELECT * FROM passengers
    WHERE name like '%Kantor%';
    """))

[{'id': 100, 'survived': Decimal('0.00'), 'pclass': Decimal('2.00'), 'name': 'Kantor, Mr. Sinai', 'sex': 'male', 'age': Decimal('34.00'), 'sibsp': 1, 'parch': 0, 'cabin': None, 'ticketId': 97, 'portId': 1}, {'id': 317, 'survived': Decimal('1.00'), 'pclass': Decimal('2.00'), 'name': 'Kantor, Mrs. Sinai (Miriam Sternin)', 'sex': 'female', 'age': Decimal('24.00'), 'sibsp': 1, 'parch': 0, 'cabin': None, 'ticketId': 97, 'portId': 1}]

##### 繼承